[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
	shallow = true
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = git@github.com:nlohmann/json.git
	shallow = true
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
	shallow = true
[submodule "thirdparty/libunibreak"]
	path = thirdparty/libunibreak
	url = git@github.com:adah1972/libunibreak.git
	shallow = true
