[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
	shallow = true
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = git@github.com:nlohmann/json.git
	shallow = true
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
	shallow = true
[submodule "thirdparty/libunibreak"]
	path = thirdparty/libunibreak
	url = git@github.com:adah1972/libunibreak.git
	shallow = true
[submodule "thirdparty/utfcpp"]
	path = thirdparty/utfcpp
	url = git@github.com:nemtrif/utfcpp.git
	shallow = true
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = git@github.com:freetype/freetype.git
	shallow = true
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = git@github.com:madler/zlib.git
	shallow = true
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = git@github.com:glennrp/libpng.git
	shallow = true
[submodule "thirdparty/msdfgen"]
	path = thirdparty/msdfgen
	url = git@github.com:Chlumsky/msdfgen.git
	shallow = true
[submodule "thirdparty/soloud"]
	path = thirdparty/soloud
	url = git@github.com:bearwaves/soloud.git
	shallow = true
[submodule "thirdparty/harfbuzz"]
	path = thirdparty/harfbuzz
	url = git@github.com:harfbuzz/harfbuzz.git
	shallow = true
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
	shallow = true
[submodule "thirdparty/lua"]
	path = thirdparty/lua
	url = git@github.com:lua/lua.git
[submodule "thirdparty/date"]
	path = thirdparty/date
	url = git@github.com:HowardHinnant/date.git
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "thirdparty/cpp-httplib"]
	path = thirdparty/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
